#nav-color {
    background-color: #D3D3D3 !important;
}
#nav-color2 {
    background-color: #D3D3D3 !important;
}
#nav-color3 {
    background-color: #D3D3D3 !important;
}
#nav-color4 {
    background-color: #D3D3D3 !important;
}
#nav-color5 {
    background-color: #D3D3D3 !important;
}
#nav-color6 {
    background-color: #D3D3D3 !important;
}
