{% extends 'base.html' %}

{% block title %}Alterar usuário{% endblock %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilos_basicos.css') }}">
{% endblock %}

{% block logout %}
    {% if permissao == 'Administrador' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown3" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados TI</a>
            <div id="nav-color3" class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="/chamados_ti">Abertos</a>
                <a class="dropdown-item" href="/chamados_ti_encerrados">Encerrados</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados Manutenção</a>
            <div id="nav-color4" class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="/chamados_manutencao">Abertos</a>
                <a class="dropdown-item" href="/chamados_manutencao_encerrados">Encerrados</a>
            </div>
        </li>
        <li><a class="nav-link" href="/relatorios">Relatórios</a></li>
        <li><a class="nav-link" href="/gerenciar_usuarios">Usuários</a></li>
        <li><a class="nav-link" href="/configuracoes">Configurações</a></li>
    {% elif permissao == 'Suporte TI' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown5" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados TI</a>
            <div id="nav-color5" class="dropdown-menu" aria-labelledby="navbarDropdown5">
                <a class="dropdown-item" href="/chamados_ti">Abertos</a>
                <a class="dropdown-item" href="/chamados_ti_encerrados">Encerrados</a>
            </div>
        </li>
    {% elif permissao == 'Suporte Manutenção' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown6" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados Manutenção</a>
            <div id="nav-color6" class="dropdown-menu" aria-labelledby="navbarDropdown6">
                <a class="dropdown-item" href="/chamados_manutencao">Abertos</a>
                <a class="dropdown-item" href="/chamados_manutencao_encerrados">Encerrados</a>
            </div>
        </li>
    {% endif %}
    <li><a class="nav-link" href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% from "macro.html" import render_field %}
        <form class="form-group col-md-6 offset-md-3" method="post">
            <div class="form-row">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="form-group col-md-6">
                    {{ render_field(field.usuario, class='form-control', placeholder='Usuario', maxlength='15', value=itens['usuario'])}}
                </div>
                <div class="form-group col-md-6">
                    <label>Senha:</label>
                    <input class="form-control" type="password" name="senha" id="senha" value="{{ itens['senha'] }}">
                </div>
            </div>
            <div>
                {{ render_field(field.nome, class='form-control', placeholder='Nome', maxlength='20', value=itens['nome'])}}
            </div>
            <div>
                {{ render_field(field.sobrenome, class='form-control', placeholder='Sobrenome', maxlength='50', value=itens['sobrenome'])}}
            </div>
            <div>
                {{ render_field(field.email, class='form-control', placeholder='E-mail', maxlength='50', value=itens['email'])}}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Setor:</label>
                        <select class="form-control" name="setor">
                            <option>{{ itens['setor'] }}</option>
                            {% for setor in setores %}
                                <option>{{ setor }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Permissão:</label>
                        <select class="form-control" name="permissao">
                            <option>{{ itens['permissao'] }}</option>
                            <option>Colaborador</option>
                            <option>Suporte TI</option>
                            <option>Suporte Manutenção</option>
                            <option>Administrador</option>
                        </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {% if itens['status'] == 'Ativo' %}
                        <div class="form-check">
                            <label>Status:</label>
                            <br>
                            <input type="radio" name="status" value="Ativo" checked>Ativo
                            <input type="radio" name="status" value="Bloqueado">Bloqueado
                        </div>
                    {% else %}
                        <div class="form-check">
                            <label>Status:</label>
                            <br>
                            <input type="radio" name="status" value="Ativo">Ativo
                            <input type="radio" name="status" value="Bloqueado" checked>Bloqueado
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="text-center">
                <button type="submit" value="alterar" class="btn btn-primary"><strong>Alterar</strong></button>
                <a href="/gerenciar_usuarios" class="btn btn-danger">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                    <span><strong>Cancelar</strong></span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}