{% extends 'base.html' %}

{% block title %}Visualizar chamado{% endblock %}

{% block head %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='estilos_basicos.css') }}">
{% endblock %}

{% block logout %}
    {% if permissao == 'Administrador' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown3" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados TI</a>
            <div id="nav-color3" class="dropdown-menu" aria-labelledby="navbarDropdown3">
                <a class="dropdown-item" href="/chamados_ti">Abertos</a>
                <a class="dropdown-item" href="/chamados_ti_encerrados">Encerrados</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados Manutenção</a>
            <div id="nav-color4" class="dropdown-menu" aria-labelledby="navbarDropdown4">
                <a class="dropdown-item" href="/chamados_manutencao">Abertos</a>
                <a class="dropdown-item" href="/chamados_manutencao_encerrados">Encerrados</a>
            </div>
        </li>
        <li><a class="nav-link" href="/relatorios">Relatórios</a></li>
        <li><a class="nav-link" href="/gerenciar_usuarios">Usuários</a></li>
        <li><a class="nav-link" href="/configuracoes">Configurações</a></li>
    {% elif permissao == 'Suporte TI' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown5" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados TI</a>
            <div id="nav-color5" class="dropdown-menu" aria-labelledby="navbarDropdown5">
                <a class="dropdown-item" href="/chamados_ti">Abertos</a>
                <a class="dropdown-item" href="/chamados_ti_encerrados">Encerrados</a>
            </div>
        </li>
    {% elif permissao == 'Suporte Manutenção' %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" id="navbarDropdown6" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Chamados Manutenção</a>
            <div id="nav-color6" class="dropdown-menu" aria-labelledby="navbarDropdown6">
                <a class="dropdown-item" href="/chamados_manutencao">Abertos</a>
                <a class="dropdown-item" href="/chamados_manutencao_encerrados">Encerrados</a>
            </div>
        </li>
    {% endif %}
    <li><a class="nav-link" href="/logout">Logout</a></li>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <form class="form-group col-md-6 offset-md-3" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label>Setor:</label>
                    <input class="form-control" type="text" disabled="disabled" value="{{ itens['setor'] }}"></input>
                </div>
                {% if itens['urgencia'] %}
                    <div class="form-group col-md-4">
                        <label>Ungência:</label>
                        <input class="form-control" type="text" disabled="disabled" value="{{ itens['urgencia'] }}"></input>
                    </div>
                {% elif itens['modelo']%}
                    <div class="form-group col-md-4">
                        <label>Modelo:</label>
                        <input class="form-control" type="text" disabled="disabled" value="{{ itens['modelo'] }}"></input>
                    </div>
                {% endif %}
                <div class="form-group col-md-4">
                    <label>Data Abertura:</label>
                    <input class="form-control" type="text" disabled="disabled" value="{{ itens['data_abertura'] }}"></input>
                </div>
            </div>
            <div>
                <label>Título:</label>
                <input class="form-control" type="text" disabled="disabled" value="{{ itens['titulo'] }}"></input>
            </div>
            <div>
                <label>Comentario:</label>
                <input id="msgblock" class="form-control" type="textarea" disabled="disabled" value="{{ itens['comentario'] }}"></input>
            </div>
            <div>
                <label>Comentario encerramento:</label>
                <input id="msgblock2" class="form-control" type="textarea" disabled="disabled" value="{{ itens['resolucao'] }}"></input>
            </div>
            <div class="form-row">
                <label>Responsável:</label>
                <input class="form-control" type="text" disabled="disabled" value="{{ itens['responsavel'] }}"></input>
            </div>
            <br>
            <div class="text-center">
                <a id="id-button" onclick="javascript:history.go(-1)" class="btn btn-danger">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                    <span><strong>Retornar</strong></span>
                </a>
            </div>
        </form>
    </div>
{% endblock %}